
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>HTU | Dark Web</title>
</head>
<body style="background: rgb(0, 0, 0) ; color: rgb(183, 190, 187);">
	<h1>Help to users</h1>
	<hr>
	<p><h4>What is this? Where is I?</h4>It`s Dark Web - the really anonimous network. Web has been created 10.05.2022 by someone, called Admin. <br>At the beginning Dark Web was only like FTP server.<br> And as Admin said: "Thees is everything here, but if you can not found somthing, it is meaning only that you are a bad seeker." So, good luck in exploring the Web!</p>
	<br>
	<h3>This page has been created by Admin to help new users in this network learn our "rules" faster.</h3>
	<br>
	<p>All popular links: </p>
	<ul>
		<li><a href="/index.html">A main page</a></li>
		<li><a href="/help.html">Help page</a></li>
		<li><a href="/send.html">Send file to Web</a></li>
		<li><a href="/forum.html">Forum</a></li>
		<li><a href="/notifboard">Board of notifications</a></li>
	</ul>

</body>
