<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Main page | Dark Web</title>
</head>
<body style="background: rgb(0, 0, 0) ; color: rgb(183, 190, 187);">
	<h1>Created by Admin</h1>
	<p style="font-size: 20ex; text-align: center;">Dark Web</p>

	<br>
	<hr>
	<br>

	<div style="font-size: 2ex; text-align: center;">
		<h3>This is the first full anonimous network!</h3>
		<p>Admins of Dark Web trying to made this network more anonimous, so, you can feel calm here.</p>
		<p style="font-weight:bold">But you know, it`s not protected, so hackers have a really a lots of opportunities here!</p>
	</div>

	<br>

	<p style="text-align: center; font-size: 2em; padding-bottom: 1em;"> If you cannot found something, its only mean that you`re a bad seeker.</p>
</body>
</html>