<div style="float: left; margin: 1em; auto; display: flex; font-family: Nunito, sans-serif; width: 17em; box-shadow: 0 4px 8px rgba(0,0,0,0.05), 0 5px 5px rgba(0,0,0,0.05); border-radius: 10px; box-shadow: 0 0 0 3px rgb(240, 245, 230); text-indent: 30px; padding-left: 1em; padding: 0.7em;">
	<div style="margin-left: 0.8rm; margin-top: 0.4em;">
		<p style="font-weight: 600; font-size: 20px; line-height: 5; line-height: 24px; color: #C7A17A;"> 3000000000000$ </p>
		<h3 style="font-style: normal; font-weight: bold; font-size: 24px; line-height: 28px; color: #232C38; margin-top: 10px;"> бшеах вспйс </h3>
		<p style="font-weight: 300; font-size: 16px; line-height: 22px; color: #151D28; margin-top: 20px;"> оф бшеах вспйс </p>
		<div style="margin-top: 25px; display: flex; justify-content: space-between;">
			<a class="toggle-buy" href="tuicape.pythonanywhere.com"> MORE... </a>
		</div>
	</div>
</div>

<div style="float: left; margin: 1em; auto; display: flex; font-family: Nunito, sans-serif; width: 17em; box-shadow: 0 4px 8px rgba(0,0,0,0.05), 0 5px 5px rgba(0,0,0,0.05); border-radius: 10px; box-shadow: 0 0 0 3px rgb(240, 245, 230); text-indent: 30px; padding-left: 1em; padding: 0.7em;">
	<div style="margin-left: 0.8rm; margin-top: 0.4em;">
		<p style="font-weight: 600; font-size: 20px; line-height: 5; line-height: 24px; color: #C7A17A;"> 3000000000000$ </p>
		<h3 style="font-style: normal; font-weight: bold; font-size: 24px; line-height: 28px; color: #232C38; margin-top: 10px;"> бшеах вспйс </h3>
		<p style="font-weight: 300; font-size: 16px; line-height: 22px; color: #151D28; margin-top: 20px;"> оф бшеах вспйс </p>
		<div style="margin-top: 25px; display: flex; justify-content: space-between;">
			<a class="toggle-buy" href="tuicape.pythonanywhere.com"> MORE... </a>
		</div>
	</div>
</div>

<div style="float: left; margin: 1em; auto; display: flex; font-family: Nunito, sans-serif; width: 17em; box-shadow: 0 4px 8px rgba(0,0,0,0.05), 0 5px 5px rgba(0,0,0,0.05); border-radius: 10px; box-shadow: 0 0 0 3px rgb(240, 245, 230); text-indent: 30px; padding-left: 1em; padding: 0.7em;">
	<div style="margin-left: 0.8rm; margin-top: 0.4em;">
		<p style="font-weight: 600; font-size: 20px; line-height: 5; line-height: 24px; color: #C7A17A;"> 3000000000000$ </p>
		<h3 style="font-style: normal; font-weight: bold; font-size: 24px; line-height: 28px; color: #232C38; margin-top: 10px;"> бшеах вспйс </h3>
		<p style="font-weight: 300; font-size: 16px; line-height: 22px; color: #151D28; margin-top: 20px;"> оф бшеах вспйс </p>
		<div style="margin-top: 25px; display: flex; justify-content: space-between;">
			<a class="toggle-buy" href="tuicape.pythonanywhere.com"> MORE... </a>
		</div>
	</div>
</div>

<div style="float: left; margin: 1em; auto; display: flex; font-family: Nunito, sans-serif; width: 17em; box-shadow: 0 4px 8px rgba(0,0,0,0.05), 0 5px 5px rgba(0,0,0,0.05); border-radius: 10px; box-shadow: 0 0 0 3px rgb(240, 245, 230); text-indent: 30px; padding-left: 1em; padding: 0.7em;">
	<div style="margin-left: 0.8rm; margin-top: 0.4em;">
		<p style="font-weight: 600; font-size: 20px; line-height: 5; line-height: 24px; color: #C7A17A;"> 100$ </p>
		<h3 style="font-style: normal; font-weight: bold; font-size: 24px; line-height: 28px; color: #232C38; margin-top: 10px;"> Fuck me pleace </h3>
		<p style="font-weight: 300; font-size: 16px; line-height: 22px; color: #151D28; margin-top: 20px;"> FUUUUUUUUUUUUUCK </p>
		<div style="margin-top: 25px; display: flex; justify-content: space-between;">
			<a class="toggle-buy" href="https://www.google.com"> MORE... </a>
		</div>
	</div>
</div>

<div style="float: left; margin: 1em; auto; display: flex; font-family: Nunito, sans-serif; width: 17em; box-shadow: 0 4px 8px rgba(0,0,0,0.05), 0 5px 5px rgba(0,0,0,0.05); border-radius: 10px; box-shadow: 0 0 0 3px rgb(240, 245, 230); text-indent: 30px; padding-left: 1em; padding: 0.7em;">
	<div style="margin-left: 0.8rm; margin-top: 0.4em;">
		<p style="font-weight: 600; font-size: 20px; line-height: 5; line-height: 24px; color: #C7A17A;"> 100$ </p>
		<h3 style="font-style: normal; font-weight: bold; font-size: 24px; line-height: 28px; color: #232C38; margin-top: 10px;"> Fuck me pleace </h3>
		<p style="font-weight: 300; font-size: 16px; line-height: 22px; color: #151D28; margin-top: 20px;"> FUUUUUUUUUUUUUCK </p>
		<div style="margin-top: 25px; display: flex; justify-content: space-between;">
			<a class="toggle-buy" href="https://www.google.com"> MORE... </a>
		</div>
	</div>
</div>

