<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8" />
  <title>Send file | Dark Web</title>
 </head>
 <body style="background: rgb(0, 0, 0) ; color: rgb(183, 190, 187);">
  <form enctype="multipart/form-data" method="post">
     <h1 style="font-size: 2.5em; text-align: right; ">Dark Web</h1>
     <br>
     <div style="text-align: center; font-size: 2em;">
          <h1>Send file to Dark Web</h1>
          <p>
               <input type="file" name="photo" multiple accept="*">
               <br>
               <br>
               <input type="submit" value="Отправить">
          </p>
     </div>
  </form>
 </body>
</html>